body {
    background-color: #f0f0f0;
    background-image: url('backgrounds/background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: 1.5;
    cursor: default;
}
img{
    vertical-align: middle;
}
div{
    display: block;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    font-family: "Space Grotesk",sans-serif;
    margin: 0;
}

.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem;
}
.logo-right{
    width: 300px;
    height: auto;
}

.center-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pomodoro-buttons{
    display: flex;
    gap: 2rem;
}

.center-container .btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: rgba(0, 0, 0, 0);
    border: 1.6px solid #fff;
    border-radius: 500px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    text-transform: lowercase;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}

.form-check-input:checked[type="radio"]{
    appearance: none;
}
.form-check-input[type="radio"]{
    appearance: none;
}
.form-check-input:checked + .btn {
    background-color: rgba(252, 250, 250, 0.788);
    color: #000;
    border: 1px solid #000; 
}

.pomodoro-timer{
    font-size: 8rem;
    letter-spacing: -0.25rem;
    font-variant-numeric: tabular-nums;
    color: #fff;
}
#pomodoro-start{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    font-weight: 500;
    width: 100px;
}
#pomodoro-start:hover{
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: rgba(252, 250, 250, 0.788);
}
.hidden{
    display: none;
}